*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: brown;
    height: 12vh;
}
h1{
    text-align: center;
     color: white;
     font-size: 2.6rem;
     padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
}

input{
    width: 400px;
    height: 3vh;
    padding: 1rem;
    margin: auto;
}

button{
    width: 330px;
    margin: auto;
    padding: 10px 15px;
    margin-top: 40px;
    background-color: brown;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}

label{
    margin: auto;
    font-size: larger;
    padding: 10px;
}

p{
    margin: auto;
    font-size: 1.5rem;
    padding: 20px;
}

table{
    text-align: justify;
    width: 80%;
    margin-top: 10px;
    border: 2px solid black;
    margin: auto;
}
caption{
    padding: 20px 0px;
    font-size: 1.4rem;
}
th{
    width: 15%;
    padding: 25px 10px;
    border: 1px solid black;
}

td{
    padding: 0px 30px;
    border: 1px solid black;
    font-size: 1.3rem;
}
.number-of-notes{
    color: blue;
    font-size: 1.6rem;
}

footer{
    height: 15vh;
}